# --- VS Code Specific ---
.vscode/
*.code-workspace
.history/

# --- System & OS ---
.DS_Store
Thumbs.db

# --- Logs & Temp ---
*.log
*.tmp
crimetology.code-workspace


# --- Data Files ---
data/*  
*.csv
crimetology.code-workspace
crimetology.code-workspace
